{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Todo App{% endblock %}</title>

  {% block css %}{% endblock %}
  <!-- axios는 전체에서 1번만 작성 -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/api.js' %}"></script>
</head>

<body>
  {% include "header.html" %}

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  {% include "footer.html" %}

  {% block scripts %}{% endblock %}
</body>
</html>
